.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInBtn {
  background-color: rgb(75, 78, 255);
  max-width: 150px;
  max-height: 20px;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold; 
  

/* keeping my text centered below */
  display: flex;
  justify-content: center;
  align-items: center;
}