.post {
  background-color: white;
  max-width: 600px;
  width: 90vw;
  padding: 15px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header-left {
  display: flex;
}

.post-profile-img {
  height: 50px;
  border-radius: 25px;
}

.post-delete {
  border: none;
  background-color: white;
  cursor: pointer;
}

.post-delete:focus {
  outline: none;
}