.createPost {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.textBlock {
  background-color: white;
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  padding: 10px 30px;
}

.title {
  border-color: black;
  width: 50%;
}

.textArea {
  border-color: black;
  width: 100%;
  margin-top: 5px;
}


.publishBtn {
  display: flex;
  background-color: white;
  border: none;
}
