.createPost {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.textBlock {
  background-color: white;
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  padding: 10px 30px;
}

.textArea {
  border: none;
  width: 100%;
  outline: none;
  margin-top: 5px;
}

.textArea :focus {
  outline: none;
}

.publishBtn {
  display: flex;
  background-color: white;
  border: none;
}
